@page
@model MyBank.Pages.Shared.AiutoModel
@{
    ViewData["Title"] = "Aiuto";
}

<div class="container" id="intestazione">
    <div class="row justify-content-center">
        <div class="col-3">
            
        </div>
        <div class="col-6">
            <br><h3>Aiuto</h3>
        </div>
        <div class="col-3">

        </div>
    </div>
</div>

<div class="container" id="centrale">
    <div class="row justify-content-center">
        <div class="col-3">

        </div>
        <div class="col-6">

        </div>
        <div class="col-3">

        </div>
    </div>
</div>


