@page
@model MyBank.Pages.DocumentiModel
@{
    ViewData["Title"] = "Documenti";
}

<!--Intestazione-->
<div class="container" id="intestazione">
    <div class="row justify-content-center">
        <div class="col-6">
            <br><h3>@ViewData["Title"]</h3><br>
            <form asp-page="/Documenti" asp-page-handler="upload" class="form-signin" method="post">
                <div class="form-group">
                    <label for="fileIn">Seleziona un file</label>
                    <input type="file" class="form-control-file" id="fileIn">
                </div>
                <button type="submit" class="btn btn-primary">Invia</button><br>
            </form>
        </div>
    </div>
</div>
