@page
@model MyBank.Pages.IBANModel
@{
    ViewData["Title"] = "IBAN";
}

<div class="container" id="intestazione">
    <div class="row justify-content-center">
        <div class="col-6">
            <br><h3>@ViewData["Title"]</h3><br>
            <p>@Program.readerData[0]</p>
            <p>@Program.readerData[1]</p>
        </div>
    </div>
</div>
   