@page
@model MyBank.Pages.IBANModel
@{
    ViewData["Title"] = "IBAN";
}

<!--Intestazione-->
<div class="container" id="intestazione">
    <div class="row justify-content-center">
        <!--Colonna sinistra-->
        <div class="col-3">
            <img src="~/images/logo.jpg" width="150" height="150"><br>
        </div>
        <!--Colonna centrale-->
        <div class="col-6">
            <h1>IBAN</h1>
        </div>
        <!--Colonna destra-->
        <div class="col-3">
        </div>
    </div>
</div>

<!--Centrale-->
<div class="container" id="centrale">
    <div class="row justify-content-center">
        <!--Colonna sinistra-->
        <div class="col-3">
        </div>
        <!--Colonna centrale-->
        <div class="col-6">
        </div>
        <!--Colonna destra-->
        <div class="col-3">
        </div>
    </div>
</div>      