@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<!--Intestazione-->
<div class="container-fluid" id="intestazione">
    <div class="row justify-content-center">
        <!--Colonna sinistra-->
        <div class="col-3">
        </div>
        <!--Colonna centrale-->
        <div class="col-3">
        </div>
        <!--Colonna destra-->
        <div class="col-3">
        </div>
    </div>

    <div class="row justify-content-center">
        <!--Colonna sinistra-->
        <div class="col-3">
        </div>
        <!--Colonna centrale-->
        <div class="col-3">
        </div>
        <!--Colonna destra-->
        <div class="col-3">
        </div>
    </div>

    <div class="row justify-content-center">
        <!--Colonna sinistra-->
        <div class="col-3">
        </div>
        <!--Colonna centrale-->
        <div class="col-3">
        </div>
        <!--Colonna destra-->
        <div class="col-3">
        </div>
    </div>
</div>


<!--Centrale-->
<div class="container" id="centrale">
    <div class="row justify-content-center">
        <!--Colonna sinistra-->
        <div class="col-3">
        </div>
        <!--Colonna centrale-->
        <div class="col-6">
        </div>
        <!--Colonna destra-->
        <div class="col-3">
        </div>
    </div>
</div>





