@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<!--Menù principale-->
<div class="container-fluid" id="menù">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-sm-12" id="box1">
            <a href="/Movimenti">Movimenti</a>
        </div>
        <div class="col-lg-4 col-sm-12" id="box2">
            <a href="/Bollettino">Bollettino</a>
        </div>
        <div class="col-lg-4 col-sm-12" id="box3">
            <a href="/Carta">Carta</a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-4 col-sm-12" id="box4">
            <a href="/Bilancio">Bilancio</a>
        </div>
        <div class="col-lg-4 col-sm-12" id="box5">
            <a href="/Bonifico">Bonifico</a>
        </div>
        <div class="col-lg-4 col-sm-12" id="box6">
            <a href="/Documenti">Documenti</a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-4 col-sm-12" id="box7">
            <a href="/IBAN">IBAN</a>
        </div>
        <div class="col-lg-4 col-sm-12" id="box8">
            <a href="/Ricarica">Ricarica</a>
        </div>
        <div class="col-lg-4 col-sm-12" id="box9">
            <a href="/Contattaci">Contattaci</a>
        </div>
    </div>
</div>




