@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<!--Menù principale-->
<div class="container-fluid" id="menù">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-sm-12" id="box1">
            <a href="/Movimenti">Movimenti</a>
        </div>
        <div class="col-lg-4 col-sm-12" id="box2">
            <a href="/Bollettino">Bollettino</a>
        </div>
        <div class="col-lg-4 col-sm-12" id="box3">
            <a href="/Carta">Carta</a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-4 col-sm-12" id="box4">
            <a href="/Bilancio">Bilancio</a>
        </div>
        <div class="col-lg-4 col-sm-12" id="box5">
            <a href="/Bonifico">Bonifico</a>
        </div>
        <div class="col-lg-4 col-sm-12" id="box6">
            <a href="/Documenti">Documenti</a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-4 col-sm-12" id="box7">
            <a href="/IBAN">IBAN</a>
        </div>
        <div class="col-lg-4 col-sm-12" id="box8">
            <a href="/Ricarica">Ricarica</a>
        </div>
        <div class="col-lg-4 col-sm-12" id="box9">
            <a href="/Contattaci">Contattaci</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="mt-2 row">
    <div class="mb-2 box-link-items_icon__v12Bu col-12 col-md-6 col-lg">
        <div class="box-link-items_boxHome__1T0Oi"><div class="relax-box_moduloHome__NxuCp">
            <div class="relax-box_titleContainer__HrbTF">
            <h1 class="relax-box_title__3haft">
                <img class="relax-box_titleIcon__ePlD0" src="/react/relaxbanking/static/media/psd2-ico.d62f8100.svg" alt="Scopri la PSD2">
                <span class="relax-box_titleText__1IvWW">Scopri la PSD2</span>
                 </h1>
                </div>
            <div class="relax-box_text__22Qja">
            <div class="box-link-items_containerPsd2__37UB7 container">
                <div class="box-link-items_boxItem__Y1FUe">
                <span><b>Sei un cliente?</b><br>Scopri cos’è cambiato con la PSD2, dalla SCA alle TPP</span>
                    </div>
                <div class="text-right mt-0 mb-4">
                <a class="box-link-items_link__3BtX7" id="infosca" alt="Scopri" href="/react/relaxbanking/#/infosca">Scopri</a>
                    </div>
                <div class="box-link-items_boxItem__Y1FUe">
                <span><b>Sei una TPP? Are you a TPP? ​</b></span>
                    </div>
                <div class="text-right mt-0">
                <a class="box-link-items_link__3BtX7" id="psd2News" alt="Scopri" href="/react/relaxbanking/#/psdtpp">Scopri/See more</a>
                    </div>
                </div>
                </div>
             </div>
            </div>
        </div>
    <div class="mb-2 box-link-items_icon__v12Bu col-12 col-md-6 col-lg">
        <div class="box-link-items_boxHome__1T0Oi">
        <div class="relax-box_moduloHome__NxuCp">
            <div class="relax-box_titleContainer__HrbTF">
            <h1 class="relax-box_title__3haft">
                <img class="relax-box_titleIcon__ePlD0" src="/react/relaxbanking/static/media/ico-famiglia.2cd20ab2.svg" alt="Famiglia &amp; Impresa">
                <span class="relax-box_titleText__1IvWW">Famiglia &amp; Impresa</span>
                </h1>
                </div>
            <div class="relax-box_text__22Qja">
            <div class="row">
                <div class="col">
                <ul class="box-link-items_listContainer__27Upb">
                    <li class="box-link-items_listItem__1YbFt">
                    <a class="box-link-items_link__3BtX7" alt="Home Banking" href="/react/relaxbanking/#/home-banking">
                        <span>Home Banking</span>
                        </a>
                        </li>
                    <li class="box-link-items_listItem__1YbFt">
                    <a class="box-link-items_link__3BtX7" alt="F24" href="/react/relaxbanking/#/f24">
                        <span>F24</span>
                        </a>
                        </li>
                    <li class="box-link-items_listItem__1YbFt">
                    <a class="box-link-items_link__3BtX7" alt="Documenti" href="/react/relaxbanking/#/documenti">
                        <span>Documenti</span>
                        </a>
                        </li>
                    <li class="box-link-items_listItem__1YbFt">
                    <a class="box-link-items_link__3BtX7" alt="Bilancio" href="/react/relaxbanking/#/bilancio">
                        <span>Bilancio</span>
                        </a>
                        </li>
                    <li class="box-link-items_listItem__1YbFt">
                    <a class="box-link-items_link__3BtX7" alt="Trading On Line" href="/react/relaxbanking/#/trading-on-line">
                        <span>Trading On Line</span>
                        </a>
                        </li>
                    <li class="box-link-items_listItem__1YbFt">
                    <a class="box-link-items_link__3BtX7" alt="FatturaRelax" href="/react/relaxbanking/#/fatt-relax">
                        <span>FatturaRelax</span>
                        </a>
                        </li>
                    </ul>
                    </div>
                <div class="col">
                <ul class="box-link-items_listContainer__27Upb">
                    <li class="box-link-items_listItem__1YbFt">
                    <a class="box-link-items_link__3BtX7" alt="Ricarica Telefonica" href="/react/relaxbanking/#/ricarica-telefonica">
                        <span>Ricarica Telefonica</span>
                        </a>
                        </li>
                    <li class="box-link-items_listItem__1YbFt">
                    <a class="box-link-items_link__3BtX7" alt="Ricarica Carta Tasca" href="/react/relaxbanking/#/ricarica-carta-tasca">
                        <span>Ricarica Carta Tasca</span>
                        </a>
                        </li>
                    <li class="box-link-items_listItem__1YbFt">
                    <a class="box-link-items_link__3BtX7" alt="Servizio CBILL" href="/react/relaxbanking/#/cbill">
                        <span>Servizio CBILL</span>
                        </a>
                        </li>
                    <li class="box-link-items_listItem__1YbFt">
                    <a class="box-link-items_link__3BtX7" alt="Tassa automobilistica" href="/react/relaxbanking/#/bollo-aci">
                        <span>Tassa automobilistica</span>
                        </a>
                        </li>
                    <li class="box-link-items_listItem__1YbFt"><a class="box-link-items_link__3BtX7" alt="Conto Deposito" href="/react/relaxbanking/#/conto-deposito"><span>Conto Deposito</span></a></li><li class="box-link-items_listItem__1YbFt"><a class="box-link-items_link__3BtX7" alt="AEA" href="/react/relaxbanking/#/aea"><span>AEA</span></a></li></ul></div></div></div></div></div></div><div class="mb-2 box-link-items_icon__v12Bu col-12 col-md-12 col-lg"><div class="box-link-items_boxHome__1T0Oi"><div class="relax-box_moduloHome__NxuCp"><div class="relax-box_titleContainer__HrbTF"><h1 class="relax-box_title__3haft"><img class="relax-box_titleIcon__ePlD0" src="/react/relaxbanking/static/media/sicurezza-img.49666d41.svg" alt="Per la tua Sicurezza"><span class="relax-box_titleText__1IvWW">Per la tua Sicurezza</span></h1></div><div class="relax-box_text__22Qja"><div class="box-link-items_containerSicurezza__1RUqs container"><div class="box-link-items_boxItem__Y1FUe">Proteggiti dalle frodi e dai furti di identità</div><div class="text-right"><a class="box-link-items_link__3BtX7" id="continueSicurezzaHome" alt="Scopri come" href="/react/relaxbanking/#/per-la-tua-sicurezza">Scopri come</a></div><div class="box-link-items_boxItem__Y1FUe">I consigli dell’ABI per navigare in sicurezza</div><div class="text-right"><a class="box-link-items_link__3BtX7" href="https://www.abi.it/Documents/Guida%20Sicurezza.pdf" target="_blank" rel="noopener noreferrer" alt="Scarica il PDF">Scarica il PDF<img class="ml-2 mb-2" src="/react/relaxbanking/static/media/pdf-logo.bd34fad6.svg" alt="pdf-logo"></a></div></div><div class="mt-3 row"><div class="col-1"><img class="box-link-items_iconAlert__2GaPh" src="/react/relaxbanking/static/media/alert_sicurezza.346a24f1.svg" alt="alert"></div><div class="box-link-items_alertSicurezza__3c3de col"><span><b>Non comunicare ad altri le tue credenziali e il codice OTP e non inserirli mai su canali che non siano l’app o l’area riservata RelaxBanking</b></span></div></div></div></div></div></div></div></div>