@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="row">

    <div class="col-12 col-md-6 col-lg-4">
        <div class="box" id="box">
            <div class="img-box">
                <img class="img-fluid index-img" src="~/images/euro.png" />
            </div>
            <a href="/Movimenti">Movimenti</a>
        </div><br>

        <div class="col-12 col-md-6 col-lg-4">
            <div class="box" id="box">
                <div class="img-box">
                    <img class="img-fluid index-img" src="~/images/euro.png" />
                </div>
                <a href="/Bilancio">Bilancio</a>
            </div>
        </div><br>

        <div class="col-12 col-md-6 col-lg-4">
            <div class="box" id="box">
                <div class="img-box">
                    <img class="img-fluid index-img" src="~/images/euro.png" />
                </div>
                <a href="/IBAN">IBAN</a>
            </div>
        </div><br>

    </div>
</div>

<div class="row">
    <div class="col-12 col-md-6 col-lg-4">
        <div class="box" id="box">
            <img src="~/images/euro.png" width="150" height="150"><br>
            <a href="/Bollettino">Bollettino</a>
        </div><br>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="box" id="box">
            <img src="~/images/euro.png" width="150" height="150"><br>
            <a href="/Bonifico">Bonifico</a>
        </div><br>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="box" id="box">
            <img src="~/images/euro.png" width="150" height="150"><br>
            <a href="/Ricarica">Ricarica</a>
        </div><br>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-6 col-lg-4">
        <div class="box" id="box">
            <img src="~/images/euro.png" width="150" height="150"><br>
            <a href="/Carta">Carta</a>
        </div><br>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="box" id="box">
            <img src="~/images/euro.png" width="150" height="150"><br>
            <a href="/Documenti">Documenti</a>
        </div><br>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="box" id="box">
            <img src="~/images/euro.png" width="150" height="150"><br>
            <a href="/Ricarica">Ricarica</a>
        </div><br>
    </div>
</div>

