@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="container" id="intestazione">
    <div class="row justify-content-center">
        <div class="col-6">
            <br><h3>Ciao</h3><br>
        </div>
    </div>
</div>

@{
    if(Startup.adminSetup == true)
    {
        <div class="container" id="centrale">
            <div class="row justify-content-center">
                <div class="col-4">
                    <div class="box" id="box">
                        <a href="/Movimenti">Movimenti</a>
                    </div><br>
                </div>

                <div class="col-4">
                    <div class="box" id="box">
                        <a href="/Bilancio">Bilancio</a>
                    </div><br>
                </div>

                <div class="col-4">
                    <div class="box" id="box">
                        <a href="/IBAN">IBAN</a>
                    </div><br>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-4">
                    <div class="box" id="box">
                        <a href="/Bollettino">Bollettino</a>
                    </div><br>
                </div>

                <div class="col-4">
                    <div class="box" id="box">
                        <a href="/Bonifico">Bonifico</a>
                    </div><br>
                </div>

                <div class="col-4">
                    <div class="box" id="box">
                        <a href="/Ricarica">Ricarica</a>
                    </div><br>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-4">
                    <div class="box" id="box">
                        <a href="/Carta">Carta</a>
                    </div><br>
                </div>

                <div class="col-4">
                    <div class="box" id="box">
                        <a href="/Documenti">Documenti</a>
                    </div><br>
                </div>

                <div class="col-4">
                    <div class="box" id="box">
                        <a href="/Profilo">Profilo</a>
                    </div><br>
                </div>
            </div>
        </div>
    }
    else
    {
         <div class="container" id="centrale">
            <div class="row justify-content-center">
                <div class="alert alert-light" role="alert">
                    <a href="/Login">Accedi</a> per visualizzare i contenuti di questa pagina
                </div>
            </div>
        </div>
    }
}
