@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="container" id="intestazione">
    <div class="row justify-content-center">
        <div class="col-6">
            <br><h3>@ViewData["Title"]</h3><br>
        </div>
    </div>
</div>

@{
    if (Startup.adminSetup == true)
    {
        <div class="container-fluid" id="centrale">
            <div class="row" style="position:center">
                <div class="col-xs-12 col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="card text-white bg-primary mb-3" style="max-width: 18rem; position:center">
                        <div class="card-header"><a href="/Movimenti" style="color:white;">Movimenti</a></div>
                        <div class="card-body">
                            <img src="~/images/movimenti.png" width="60" height="60">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="card text-white bg-primary mb-3" style="max-width: 18rem; position: center">
                        <div class="card-header"><a href="/Bilancio" style="color:white;">Bilancio</a></div>
                        <div class="card-body">
                            <img src="~/images/Bilancio.png" width="60" height="60">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="card text-white bg-primary mb-3" style="max-width: 18rem; position: center">
                        <div class="card-header"><a href="/IBAN" style="color:white;">IBAN</a></div>
                        <div class="card-body">
                            <img src="~/images/IBAN.png" width="60" height="60">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="card text-white bg-primary mb-3" style="max-width: 18rem; position: center">
                        <div class="card-header"><a href="/Bollettino" style="color:white;">Bollettino</a></div>
                        <div class="card-body">
                            <img src="~/images/Bollettino.png" width="60" height="60">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="card text-white bg-primary mb-3" style="max-width: 18rem; position: center">
                        <div class="card-header"><a href="/Bonifico" style="color:white;">Bonifico</a></div>
                        <div class="card-body">
                            <img src="~/images/bonifico.png" width="60" height="60">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="card text-white bg-primary mb-3" style="max-width: 18rem; position: center">
                        <div class="card-header"><a href="/Ricarica" style="color:white;">Ricarica</a></div>
                        <div class="card-body">
                            <img src="~/images/Ricarica.png" width="60" height="60">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="card text-white bg-primary mb-3" style="max-width: 18rem; position: center">
                        <div class="card-header"><a href="/Profilo" style="color:white;">Profilo</a></div>
                        <div class="card-body">
                            <img src="~/images/profilo.png" width="60" height="60">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="card text-white bg-primary mb-3" style="max-width: 18rem; position: center">
                        <div class="card-header"><a href="/Carta" style="color:white;">Carta</a></div>
                        <div class="card-body">
                            <img src="~/images/cartasoldi.png" width="60" height="60">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="card text-white bg-primary mb-3" style="max-width: 18rem; position: center">
                        <div class="card-header"><a href="/Documenti" style="color:white;">Documenti</a></div>
                        <div class="card-body">
                            <img src="~/images/documenti.png" width="60" height="60">
                        </div>
                    </div><br><br><br><br>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="container-fluid">
            <div class="row">
                <!--COLONNA SINISTRA-->
                <div class="d-none d-sm-none d-md-none d-xl-block col-xl-2 order-xl-0 ">
                    <div class="container" style="background-color: lightgray; border-radius: 10px;">
                        <h6>Accedendo, potrai visualizzare le seguenti pagine:</h6>
                        <ul>
                            <li>Movimenti</li>
                            <li>Bilancio</li>
                            <li>IBAN</li>
                            <li>Bollettino</li>
                            <li>Bonifico</li>
                            <li>Ricarica</li>
                            <li>Profilo</li>
                            <li>Carta</li>
                            <li>Documenti</li>
                        </ul>
                    </div>
                </div>
                <!--COLONNA CENTRALE-->
                <div class="d-none d-sm-none d-lg-block col-lg-12 col-xl-7 order-lg-0 order-xl-1">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="~/images/carte.jpg" alt="Girl in a jacket" width="900" height="600">
                            </div>
                            <div class="carousel-item">
                                <img src="~/images/Felicità.jpg" alt="Girl in a jacket" width="900" height="600">
                            </div>
                            <div class="carousel-item">
                                <img src="~/images/specchio.jpg" alt="Girl in a jacket" width="900" height="600">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Precedente</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Successivo</span>
                        </a>
                    </div>
                </div>
                <!--COLONNA DESTRA-->
                <div class="d-none d-sm-none d-xl-block col-xl-3 order-xl-2">
                    <img src="~/images/superpubblicità.jpg" alt="Girl in a jacket" width="400" height="600" style="margin-left: auto;">
                </div>
            </div>

            <!--PRESENTAZIONE-->
            <div class="row">
                <div class="col-12">
                    <a>
                        <br><br><br>
                        MyBank è nata da un'idea rivoluzionaria di Home Banking: registrandoti sul nostro portale potrai facilmente accedere
                        al tuo conto online ovunque tu sia. Tramite il menù avrai completa gestione di ogni parte del tuo conto:
                        - dalla sezione "Movimenti" potrai dare un occhio alle tue entrate e uscite recenti;
                        - dalla sezione "Bilancio" avrai subito una visione globale dell'andamento del tuo conto;
                        - dalla sezione "IBAN" potrai visualizzare le informazioni del tuo conto;
                        - dalla sezione "Bollettino" potrai pagare bollettini postali direttamente dal tuo smartphone;
                        - dalla sezione "Bonifico" potrai effettuare bonifici gratuiti verso altri clienti MyBank;
                        - dalla sezione "Ricarica" potrai facilmente ricaricare il saldo del tuo telefono;
                        - dalla sezione "Profilo" potrai gestire le tue informazioni personali;
                        - dalla sezione "Carta" potrai visualizzare le informazioni sulla tua carta MyBank;
                        - dalla sezione "Documenti" potrai caricare e scaricare file da scambiare con noi.
                        Scegli MyBank, scegli il futuro!
                        <br><br><br>
                    </a>
                </div>
            </div>
        </div>
    }
}
