@page
@model MyBank.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="container" id="intestazione">
    <div class="row justify-content-center">
        <div class="col-6">
            @{
                if (Startup.adminSetup == false)
                {
                    <h1>Accedi</h1><br>
                    <form asp-page="/Login" asp-page-handler="login" class="form-signin" method="post">
                        <div class="form-group">
                            <label for="InputEmail">Indirizzo email</label>
                            <input type="email" class="form-control" name="email" id="Inputemail" aria-describedby="emailHelp" placeholder="Enter Email">
                        </div>
                        <div class="form-group">
                            <label for="InputPassword">Password</label>
                            <input type="password" class="form-control" name="passwd" id="Inputpasswd" placeholder="Enter Password">
                        </div>
                        <button type="submit" class="btn btn-primary" id="loginBtn">Login</button><br>
                    </form>
                }

                else
                {
                    <h1>Esci</h1><br>
                    <form asp-page="/Login" asp-page-handler="exit" class="form-signin" method="post">
                        <div class="form-group">
                            <label for="InputEmail">Indirizzo email</label>
                            <input type="email" class="form-control" name="email" id="Inputemail" aria-describedby="emailHelp" placeholder="Enter Email">
                        </div>
                        <div class="form-group">
                            <label for="InputPassword">Password</label>
                            <input type="password" class="form-control" name="passwd" id="Inputpasswd" placeholder="Enter Password">
                        </div>
                        <button type="submit" class="btn btn-primary" id="exitBtn">Esci</button><br>
                    </form>
                }
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    var email = document.getElementById("InputEmail").value;
    var passwd = document.getElementById("InputPasswd").value;
</script>


