@page
@model MyBank.Pages.LoginPageModel
@{
    ViewData["Title"] = "Login";
}

<!--Intestazione-->
<div class="container" id="intestazione">
    <div class="row justify-content-center">
        <!--Colonna centrale-->
        <div class="col-12">
            <h1>Accedi a MyBank</h1>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" id="navbar">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-page="/LoginPage">Home</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <!--MyConto-->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    MyConto
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" id="dropdownBottone" href="/Movimenti">Movimenti</a>
                                    <a class="dropdown-item" id="dropdownBottone" href="/Bilancio">Bilancio</a>
                                    <a class="dropdown-item" id="dropdownBottone" href="/IBAN">IBAN</a>
                                </div>
                            </li>
                            <!--MyPagamenti-->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    MyPagamenti
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" id="dropdownBottone" href="/Bollettino">Bollettino</a>
                                    <a class="dropdown-item" id="dropdownBottone" href="/Bonifico">Bonifico</a>
                                    <a class="dropdown-item" id="dropdownBottone" href="/Ricarica">Ricarica</a>
                                </div>
                            </li>
                            <!--MyProfilo-->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    MyProfilo
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" id="dropdownBottone" href="/Carta">Carta</a>
                                    <a class="dropdown-item" id="dropdownBottone" href="/Documenti">Documenti</a>
                                    <a class="dropdown-item" id="dropdownBottone" href="/Contattaci">Contattaci</a>
                                </div>
                            </li>
                        </ul>
                        <!--Cerca-->
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Cerca" aria-label="Search">
                            <button class="btn btn-outline-dark" disabled type="submit" id="cercaButton">Cerca</button>
                        </form>
                    </div>
                </div>
            </nav>
            <form asp-page="/LoginPage" asp-page-handler="login" class="form-signin" method="post">
                <div class="form-group">
                    <label for="exampleInputEmail1">Indirizzo email</label>
                    <input type="email" class="form-control" name="email" id="Inemail" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" name="passwd" id="Inpasswd" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary" onclick="@Model.Login()">Accedi</button>
                <h6 class="status">Stato: @Model.status</h6>
            </form>
        </div>
    </div>
</div>

<!--Centrale-->
<div class="container" id="centrale">
    <div class="row justify-content-center">
        <!--Colonna sinistra-->
        <div class="col-3">
        </div>
        <!--Colonna centrale-->
        <div class="col-6">
        </div>
        <!--Colonna destra-->
        <div class="col-3">
        </div>
    </div>
</div>

<script type="text/javascript">
    var email = document.getElementById("InputEmail").value;
    var passwd = document.getElementById("InputPasswd").value;
</script>