@page
@model MyBank.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="container" id="intestazione">
    <div class="row justify-content-center">
        <div class="col-6">
            @{
                if (Startup.adminSetup == false)
                {
                    <br><h3>Login</h3><br>
                    <form asp-page="/Login" asp-page-handler="login" class="form-signin" method="post">
                        <div class="form-group">
                            <label for="InputEmail">Indirizzo email</label>
                            <input type="email" class="form-control" name="email" id="Inputemail" aria-describedby="emailHelp" placeholder="Enter Email">
                        </div>
                        <div class="form-group">
                            <label for="InputPassword">Password</label>
                            <input type="password" class="form-control" name="passwd" id="Inputpasswd" placeholder="Enter Password">
                        </div>
                        <button type="submit" class="btn btn-primary" onclick="Prova()">Entra</button><br>
                    </form>
                }
                else
                {
                    <br><h3>Esci</h3><br>
                    <form asp-page="/Login" asp-page-handler="login" class="form-signin" method="post">
                        <div class="form-group">
                            <label for="InputEmail">Indirizzo email</label>
                            <input type="email" class="form-control" name="email" id="Inputemail" aria-describedby="emailHelp" placeholder="@Program.array[0]" disabled>
                        </div>
                        <div class="form-group">
                            <label for="InputPassword">Password</label>
                            <input type="password" class="form-control" name="passwd" id="Inputpasswd" placeholder="@Program.array[1]" disabled>
                        </div>
                        <button type="submit" class="btn btn-primary">Esci</button><br>
                    </form>
                }
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    var email = document.getElementById("InputEmail").value;
    var passwd = document.getElementById("InputPasswd").value;
</script>

<script>
    function Prova()
    {
        var tmp = @Model.error;
        if (tmp == "email")
            window.alert("Indirizzo email errato");
       
        if (tmp == "passwd")
            window.alert("Password errata");
    } 
</script>


